**/.env
**/.envrc
**/.terraform/*
**/.terraform*
**/.terraform.lock.hcl
**/.vagrant
**/.venv
**/homelab_infra.pdf
**/homelab_network_diagram*
**/openrc.sh
**/terraform.*
**/venv
create_ubuntu24.sh
kubeconfig
talosconfig
**/*.lnk
**/*.log
**/*.md.swp
**/*.swp
**/*.tfstate
**/*.tfstate.* 
**/*.tfvars
**/*.tfvars.json
